dist: trusty
sudo: false
language: cpp

addons:
  apt:
    sources:
#      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-5.0
    packages:
#      - g++-8
      - clang-5.0

before_script:
  - mkdir build
  - cd build
  - cmake ..

script:
#  - CXX=/usr/bin/g++-8 CC=/usr/bin/gcc-8
  - CXX=clang++-5.0 && CC=clang-5.0
  - cmake --build .
  - ctest

